.sidenav-container {
  background-color: var(--whiteColor);
  height: 100%;
}

.image-logo {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 50px;
  width: 90px;
}

.sidenav {
  width: 250px;
  background-color: var(--whiteColor);
  padding-top: 1rem;
}

.menu-options a {
  color: var(--orangeColor);
}

.toolbar-sidenav {
  color: var(--orangeColor);
  padding-top: 1rem;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.item {
  background-color: transparent;
  box-shadow: none;
  color: var(--orangeColor);
  border-bottom: 1px solid #EAEDEF;
}

.item-header {
  align-items: center;
  display: flex;
}

.item-title {
  color: var(--orangeColor);
}

.item-title i {
  font-size: 1.2rem;
  font-weight: 700;
  width: 18px;
}

.item-icon i {
  font-size: 1.3rem;
  font-weight: 700;
}

/* submenu */

.submenu {
  display: flex;
  flex-direction: column;
}

.submenu .submenu-item {
  color: var(--orangeColor);
  padding: .7rem;
}

/* toolbar */

.toolbar-header {
  align-items: center !important;
  background-color: var(--grayHeaderColor);
  box-shadow: 5px 5px;
  display: grid;
  grid-template-columns: 65% 35%;
}

.mat-icon {
  color: var(--textGrayColor);
}

.toolbar-header .layout-user, .layout-logout, .title {
  color: var(--textGrayColor);
  font-size: 1rem;
  margin: 0 !important;
}

.layout-user {
  display: none;
}

.name-title {
  display: none;
}

@media(min-width:768px) {

  .toolbar-header {
    grid-template-columns: 70% 15% 15%;
    padding: 0 2rem;
  }

  .layout-user {
    display: block;
  }

  .layout-logout, .layout-user {
    text-align: center;
  }

  .layout-logout {
    cursor: pointer;
  }

  .name-title {
    display: block;
  }
}


div.content {
  background-color: var(--grayColor);
  min-height: 89.5vh !important;
  padding: 2rem 0;
  overflow-y: scroll !important;
}

@media(min-width:768px) {
  div.content {
    overflow-y: hidden;
  }
}


.show {
  opacity: 1;
}

.hide {
  opacity: 0;
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

