.container-frm{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
}

.frm-login{
    background-color: #ffffff;
    box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
    margin: 0 auto;
    width: 90% !important;
    border-radius: 5px;
    padding: 1rem;
}

@media(min-width:500px) {
    .frm-login {
        width: 60% !important;
    }
}

@media(min-width:768px){
    .frm-login{
        padding: 1.8rem .5rem;
        width: 50% !important; 
    }
}

@media(min-width:992px) {
    .frm-login {
        width: 25% !important;
    }
}

@media(min-width:1500px) {
    .frm-login {
        width: 20% !important;
    }
}

