.kardex-content {
	position: relative;
	height: 25vh;
}

@media(min-width:768px) {
	.kardex-content {
		height: 40vh;
	}
}

@media(min-width:768px) {
	.input-fields-zone {
		padding: 0;
	}

	.form-control-group-kardex {
		display: grid;
		grid-template-columns: repeat(2,1fr) !important;
	}
}
	