<div class="container-dashboard">
	<div class="cards-zone">
		<div class="card borderBottomGreen">
			<p><span>{{ 174 | currency:'USD' }}</span></p>
			<h3>Ventas Día de Hoy</h3>
		</div>
		<div class="card borderBottomBlue">
			<p><span>{{ 4606 | currency:'USD' }}</span></p>
			<h3>Ventas Mes Actual</h3>
		</div>
		<div class="card borderBottomYellow">
			<p><span>{{ 10966 | currency:'USD' }}</span></p>
			<h3>Ventas Mes Pasado</h3>
		</div>
		<div class="card borderBottomRed">
			<p><span>{{ 28930 | currency:'USD' }}</span></p>
			<h3>Ventas Año Actual</h3>
		</div>
	</div>
</div>