<div class="table-list-content">

	<app-spinner *ngIf="loading"></app-spinner>
	<h3 class="text-center text-orange title">Facturas</h3>

	<div class="form-filter">
		  <input class="input-filter" matInput (keyup)="applyFilter($event)" placeholder="Buscar Factura" #input>
	  </div>

	<div class="mat-elevation-z8">
	  <table  [dataSource]="dataSource" mat-table class="full-width-table" matSort aria-label="Elements">

		<!-- Invoice Number -->
		<ng-container matColumnDef="invoice">
		  <th class="th-invoices" mat-header-cell *matHeaderCellDef mat-sort-header>Número Factura</th>
		  <td mat-cell class="text-center" *matCellDef="let row">{{ row.invoice }}</td>
		</ng-container>

		<!-- codebar Column -->
		<ng-container matColumnDef="clientName">
		  <th class="th-invoices" mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Cliente</th>
		  <td class="text-center" mat-cell *matCellDef="let row">{{ row.clientName }}</td>
		</ng-container>


		<!-- Desciption Column -->
		<ng-container matColumnDef="clientLastName">
		  <th class="th-invoices" mat-header-cell *matHeaderCellDef mat-sort-header>Apellido Cliente</th>
		  <td class='text-center' mat-cell *matCellDef="let row">{{row.clientLastName}}</td>
		</ng-container>

		<!-- category Column -->
		<ng-container matColumnDef="seller">
		  <th class="th-invoices" mat-header-cell *matHeaderCellDef mat-sort-header>Vendedor</th>
		  <td class="text-center" mat-cell *matCellDef="let row">{{ row.seller }}</td>
		</ng-container>

		<!-- stock Column -->
		<ng-container matColumnDef="created_at">
		  <th class="th-invoices" mat-header-cell *matHeaderCellDef mat-sort-header>Fecha (Año-Mes-Día)</th>
		  <td class="text-center" mat-cell *matCellDef="let row">{{ invoicesFormatDate(row.created_at) }}</td>
		</ng-container>

    <!-- setRole Column -->
			<ng-container matColumnDef="setPDF">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Acción</th>
				<td mat-cell (click)="onClickPDF(row)" *matCellDef="let row"><button class='btn-pdf' type="button">Ver pdf</button></td>
			</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			<!-- Row shown when there is no matching data. -->
			  <tr class="mat-row" *matNoDataRow>
				  <td class="mat-cell" colspan="4">No hay resultados para "{{input.value}}"</td>
			  </tr>
	  </table>

	  <mat-paginator
		[pageSizeOptions]="[10,20]">
	  </mat-paginator>

	</div>
  </div>
