	<form class="" [formGroup]="form" (ngSubmit)="updateCategory()">
		<div class="input-fields-zone">
			<h2 class="text-center text-uppercase font-bold-openSans title text-orange">Actualizando Producto</h2>
			<div class="form-control-group">
				<div class="input-field">
					<label for="description">Descripción (Iniciar en Mayúscula)</label>
					<input type="text" id="description" class="description" placeholder="Descripción Aquí" formControlName="description" autocomplete="off">
					<div class="error" *ngIf="form.get('description').hasError('required')">Descripción es requerido</div>
					<div class="error" *ngIf="form.get('description').hasError('pattern')">Nombre no válido</div>
				</div>
				<div class="input-field">
					<label for="reference">Referencia</label>
					<input type="text" id="reference" class="reference" placeholder="Referencia Aquí" formControlName="reference" autocomplete="off">
					<div class="error" *ngIf="form.get('reference').hasError('required')">Referencia es requerido</div>
				</div>
				<div class="input-field ">
					<label for="reference">Categoría</label>
					<select  id="category" class="category" placeholder="Categoría Aquí" formControlName="category_id" autocomplete="off">
	
						<optgroup>
							<option value="" selected>Seleccionar Categoría</option>
							<option  *ngFor="let category of categories"  value="{{category.id}}">{{category.name}}</option>
						</optgroup>
						
					</select>
					<div class="error" *ngIf="form.get('category_id').hasError('required')">Categoría es requerido</div>
				</div>
	
				<div class="input-field">
					<label for="stock">Stock</label>
					<input type="number" id="stock" class="stock" placeholder="Seleccionar stock" formControlName="stock" autocomplete="off">
					<div class="error" *ngIf="form.get('stock').hasError('required')">Stock es requerido</div>
					<div class="error" *ngIf="form.get('stock').hasError('min')">Stock no debe ser menor a 1</div>
				</div>
	
				<div class="input-field">
					<label for="cost">Costo</label>
					<input type="number" id="cost" class="cost"  max=999.99, min=1.00  step=0.00 placeholder="Seleccionar costo" formControlName="cost" autocomplete="off">
					<div class="error" *ngIf="form.get('cost').hasError('required')">Costo es requerido</div>
					<div class="error" *ngIf="form.get('cost').hasError('min')">Costo no debe ser inferior a 0.05</div>
					<div class="error" *ngIf="form.get('cost').hasError('max')">Costo no debe ser Mayor a 999.99</div>
				</div>
				
				<div class="input-field">
					<label for="priceTotal">Precio Venta</label>
					<input type="number" id="priceTotal" class="priceTotal"  max=999.99, min=1.00  step=0.00 placeholder="Seleccionar costo" formControlName="priceTotal" autocomplete="off">
					<div class="error" *ngIf="form.get('priceTotal').hasError('required')">Precio total es requerido</div>
					<div class="error" *ngIf="form.get('priceTotal').hasError('min')">Precio total no debe ser inferior a 0.05</div>
					<div class="error" *ngIf="form.get('priceTotal').hasError('max')">Precio total no debe ser Mayor a 999.99</div>
				</div>
	
				<div class="input-field">
					<label for="tax">Impuesto</label>
					<input type="number" id="tax" class="tax" placeholder="Seleccionar Impuesto"  formControlName="tax" autocomplete="off">
					<div class="error" *ngIf="form.get('tax').hasError('required')">Impuesto es requerido</div>
					<div class="error" *ngIf="form.get('tax').hasError('min')">Impuesto no debe ser menor a 0</div>
				</div>
				<div class="input-field">
					<input type="submit" value="Enviar" [disabled]="!form.valid" />
				</div>
			</div>
		</div>
	</form>
	
	<div #messageDialog class="hide">Notofication here</div>