
.logo {
    width: 70px;
    height: 40px;
}

.navbar {
    background-color: var(--mainColor) !important;
}

.bg-gray {
    background-color: var(--grayColor);
}

.link-logout {
    font-family: var(--roboto);
    font-weight: var(--robotoFontWeight500);
}

.link-logout:hover {
    text-decoration: none;
    color: var(--alpha) !important;
    cursor: pointer;
}