<mat-sidenav-container class="sidenav-container">

  <!-- sidenav -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <div class="image-logo">
      <a [routerLink]="['app']">
        <img src="assets/img/logo-outlet.png" alt="logo outlet" class="logo">
      </a>
    </div>

    <!-- menu -->
    <mat-toolbar class="toolbar-sidenav">Menu</mat-toolbar>
    <mat-expansion-panel class="item">
      <mat-expansion-panel-header class="item-header">
        <mat-panel-title class="item-title" style="flex-grow: 0;" >
          <i class="fab fa-product-hunt"></i>
        </mat-panel-title>
        <mat-panel-title class="item-title">
          Productos
        </mat-panel-title>
        <div class="item-icon">
          <i class="fas fa-angle-down"></i>
        </div>
      </mat-expansion-panel-header>
      <div class="submenu">
        <a [routerLink]="['product/add']" routerLinkActive="router-link-active"  class="submenu-item">Añadir</a>
        <a [routerLink]="['products']" routerLinkActive="router-link-active"  class="submenu-item">Ver Todo</a>
      </div>
    </mat-expansion-panel>

    <!-- category -->
    <mat-expansion-panel class="item">
      <mat-expansion-panel-header class="item-header">
        <mat-panel-title class="item-title" style="flex-grow: 0;" >
          <i class="fas fa-arrows-alt"></i>
        </mat-panel-title>
        <mat-panel-title class="item-title">
          Categorías
        </mat-panel-title>
        <div class="item-icon">
          <i class="fas fa-angle-down"></i>
        </div>
      </mat-expansion-panel-header>
      <div class="submenu">
        <a [routerLink]="['categories/add']" routerLinkActive="router-link-active"  class="submenu-item">Añadir</a>
        <a [routerLink]="['categories']" routerLinkActive="router-link-active"  class="submenu-item">Ver Todo</a>
      </div>
    </mat-expansion-panel>

    <!-- Entradas -->
    <mat-expansion-panel class="item">
      <mat-expansion-panel-header class="item-header">
        <mat-panel-title class="item-title" style="flex-grow: 0;" >
          <i class="fas fa-arrow-left"></i>
        </mat-panel-title>
        <mat-panel-title class="item-title">
          Entradas
        </mat-panel-title>
        <div class="item-icon">
          <i class="fas fa-angle-down"></i>
        </div>
      </mat-expansion-panel-header>
      <div class="submenu">
        <a [routerLink]="['inputs/add']" routerLinkActive="router-link-active"  class="submenu-item">Añadir</a>
        <a [routerLink]="['inputs']" routerLinkActive="router-link-active"  class="submenu-item">Ver Todo</a>
      </div>
    </mat-expansion-panel>

     <!-- Inventory -->
     <mat-expansion-panel class="item">
      <mat-expansion-panel-header class="item-header">
        <mat-panel-title class="item-title" style="flex-grow: 0;" >
          <i class="fas fa-warehouse"></i>
        </mat-panel-title>
        <mat-panel-title class="item-title">
          Inventarios
        </mat-panel-title>
        <div class="item-icon">
          <i class="fas fa-angle-down"></i>
        </div>
      </mat-expansion-panel-header>
      <div class="submenu">
        <a [routerLink]="['kardex']" routerLinkActive="router-link-active"  class="submenu-item">Buscar Producto</a>
      </div>
    </mat-expansion-panel>

    <!-- Invoices -->
    <mat-expansion-panel class="item">
      <mat-expansion-panel-header class="item-header">
        <mat-panel-title class="item-title" style="flex-grow: 0;" >
          <i class="fas fa-file-invoice-dollar"></i>
        </mat-panel-title>
        <mat-panel-title class="item-title">
          Facturas
        </mat-panel-title>
        <div class="item-icon">
          <i class="fas fa-angle-down"></i>
        </div>
      </mat-expansion-panel-header>
      <div class="submenu">
        <a [routerLink]="['sales/add']" routerLinkActive="router-link-active"  class="submenu-item">Añadir</a>
        <a [routerLink]="['sales/add']" routerLinkActive="router-link-active"  class="submenu-item">Ver Todo</a>
      </div>
    </mat-expansion-panel>

     <!-- Clients -->
     <mat-expansion-panel class="item">
      <mat-expansion-panel-header class="item-header">
        <mat-panel-title class="item-title" style="flex-grow: 0;" >
          <i class="fas fa-address-book"></i>
        </mat-panel-title>
        <mat-panel-title class="item-title">
          Clientes
        </mat-panel-title>
        <div class="item-icon">
          <i class="fas fa-angle-down"></i>
        </div>
      </mat-expansion-panel-header>
      <div class="submenu">
        <a [routerLink]="['clients/add']" routerLinkActive="router-link-active"  class="submenu-item">Añadir</a>
        <a [routerLink]="['clients']" routerLinkActive="router-link-active"  class="submenu-item">Ver Todo</a>
      </div>
    </mat-expansion-panel>

     <!-- Users -->
     <mat-expansion-panel class="item">
      <mat-expansion-panel-header class="item-header">
        <mat-panel-title class="item-title" style="flex-grow: 0;" >
          <i class="fas fa-user-friends"></i>
        </mat-panel-title>
        <mat-panel-title class="item-title">
          Usuarios
        </mat-panel-title>
        <div class="item-icon">
          <i class="fas fa-angle-down"></i>
        </div>
      </mat-expansion-panel-header>
      <div class="submenu">
        <a [routerLink]="['users/add']" routerLinkActive="router-link-active"  class="submenu-item">Añadir</a>
        <a [routerLink]="['users']" routerLinkActive="router-link-active"  class="submenu-item">Ver Todo</a>
      </div>
    </mat-expansion-panel>

  </mat-sidenav>
  <!-- end sidenav -->

  <!-- main content -->
  <mat-sidenav-content class="main-content">
    <mat-toolbar class="toolbar-header">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="name-title" style="color: #fe4918;">Plutón</span>
        <p class="layout-user" ><span class="welcome show">Bienvenido</span> {{ user }}</p>
        <p class="layout-logout" (click)="logout()">Cerrar Sesión</p>
    </mat-toolbar>

    <!-- Add Content Here -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>