<form [formGroup]="form" class="normal-form" (ngSubmit)="onSubmit()">
	<div class="input-fields-zone-dialog">
		<h2 class="text-center text-uppercase font-bold-openSans title text-orange">Actualizar Cliente</h2>
		<div class="form-control-group">
			<div class="input-field">
				<label for="name">Nombre de Usuario</label>
				<input type="text" id="name" class="name" placeholder="Nombre Aquí" formControlName="name" autocomplete="off">
				<div class="error" *ngIf="form.get('name').hasError('required')">Nombre es requerido</div>
				<div class="error" *ngIf="form.get('name').hasError('pattern')">Nombre no válido</div>
			</div>

			<div class="input-field">
				<label for="email">Email</label>
				<input type="email" id="email" class="email" placeholder="Email Aquí" formControlName="email" autocomplete="off">
				<div class="error" *ngIf="form.get('email').hasError('required')">Email es requerido</div>
				<div class="error" *ngIf="form.get('email').hasError('pattern')">Email no válido</div>
			</div>

			<div class="input-field">
				<input type="submit" value="Enviar" [disabled]="!form.valid" />
			</div>
		</div>
	</div>
</form>

