
<form *ngIf="!item" class="normal-form" [formGroup]="formGetProduct"(ngSubmit)="getCodebar(formGetProduct)">
	<div class="input-fields-zone">
		<div class="form-control-group-invoice">
			<div class="input-field">
				<label for="codebar">Código de Barras</label>
				<input type="text" id="codebar" formControlName="codebar" class="codebar" placeholder="Código de Barra Aquí" autocomplete="off" >
			</div>
			<div class="input-field">
				<input type="submit" value="Buscar">
			</div>
		</div>
		<div *ngIf="message" class="text-center text-orange">{{message}}</div>
	</div>
</form>


<form *ngIf="item" class="normal-form" [formGroup]='form' (ngSubmit)="onSubmit(form)">
	<div class="input-fields-zone">
		<h2 class="text-center font-bold-openSans title text-orange">Item</h2>
		<div class="form-control-group-invoice">
			<div class="input-field">
				<label for="codebar">Código de Barras</label>
				<input type="text" id="codebar" class="codebar" placeholder="Código de Barra Aquí" formControlName="codebar" autocomplete="off" >
			</div>
			<div class="input-field">
				<label for="description">Descripción</label>
				<input type="text" id="description" class="description" placeholder="Descripción" formControlName="description" autocomplete="off">
			</div>
			<div class="input-field">
				<label for="priceTotal">Precio</label>
				<input type="number" id="priceTotal" class="priceTotal" placeholder="Precio" formControlName="priceTotal" autocomplete="off">
			</div>
			<div class="input-field">
				<label for="amount">Cantidad</label>
				<input (change)="stockValidator(form)" type="number" id="amount" class="amount" placeholder="Cantidad" formControlName="amount" autocomplete="off">
				<div class="error" *ngIf="form.get('amount').hasError('min')">La cantidad no debe ser menor a 1</div>
			</div>
			<div class="input-field">
				<label for="stock">Stock</label>
				<input type="number" id="stock" class="stock" placeholder="stock" formControlName="stock" autocomplete="off">
			</div>
			<div class="input-field">
				<input type="submit" value="Agregar" [disabled]="form.get('amount').hasError('min')"/>
			</div>
		</div>
	</div>
</form>


<div class="invoice-content">
	<h2 class="text-center font-bold-openSans title text-orange">Items</h2>
	<app-detail-store [details]="details" [invoice_number]="invoice_number" (cleanDetails)="cleanDetails()" (removeItem)="removeItem($event)" *ngIf="details.length>0; else other"></app-detail-store>
	<ng-template #other>
		<p class="text-center text-orange" style="margin-top: 3rem;">No has agregado</p>
	</ng-template>
</div>
