<div class="table-list-content">

  <app-spinner *ngIf="loading"></app-spinner>
  <h3 class="text-center text-orange">Categorías</h3>

  <div class="form-filter">
    <input class="input-filter" matInput (keyup)="applyFilter($event)" placeholder="Buscar Categoría" #input>
  </div>

  <div class="mat-elevation-z8">
    <table [dataSource]="dataSource" mat-table class="full-width-table" matSort aria-label="Elements">

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td class="text-center" mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td (click)="openCategory(row)" class="td-name text-center" mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No hay resultados para "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator 
      [pageSizeOptions]="[10,20]">
    </mat-paginator>
  </div>
</div>