table {
	width: 100%;
	background-color: #ffffff !important;
  }
  
  .mat-form-field {
	color: black;
	font-size: 14px;
	width: 100%;
  }

  .mat-sort-header-container {
	display: flex;
	justify-content: flex-end;  
  }

  td {
	  text-align: right;
	  padding-right: 40px !important;
  }
