html {
	box-sizing: border-box;
  }
  *, *:before, *:after {
	box-sizing: inherit;
}

html, body {
	height: 100vh !important;
}

:root {
	--grayColor:#F1F4F6;
	--grayHeaderColor: #FAFBFC;
	--orangeColor: #fe4918;
	--whiteColor: #ffffff;
	--darkGrayColor: #6C757D;
	/* text */
	--textGrayColor: #838a91;
}

a {
	text-decoration: none;
}

.text-center {
	text-align: center;
}

.text-uppercase {
	text-transform: uppercase;
}