/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&family=Roboto:wght@300;500;700&display=swap');

/* apply a natural box layout model to all elements, but allowing components to change */

:root{
    --mainColor: #FC7323;
    --alpha: rgba(252,115,35, 0.8);
    --grayColor: #ECEAE9;
    --textGrayColor: #ADADAD;
    --openSans: 'Open Sans', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --robotoFontWeight300: 300; 
    --robotoFontWeight500: 500;
    --robotoFontWeight700: 700;
    --openSansFontWeight300: 300; 
    --openSansFontWeight500: 500;
    --openSansFontWeight700: 700;
}


html {
    box-sizing: border-box;
    overflow: hidden;
  }

  *, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: var(--openSans);
    background-color: var(--grayColor);
    font-size: 62,5%;
    color: black;
    z-index: -1000;
}

.text-primary {
    color:var(--mainColor) !important;
}

.text-primary:hover {
    color: var(--mainColor) !important;
}

a {
    text-decoration: none;
}
